<div class="d-flex align-items-center p-3 my-3 mt-4 text-white-50 bg-white rounded shadow-sm"
  *ngFor="let profile of userDetailsArray">
  <div class="lh-1" *ngIf="profile.role == 'Admin'">
    <h6 class="mb-0 text-dark lh-1">Appointments
      <span class="badge bg-dark text-white rounded-pill align-text-bottom">
        {{ totalBookingCount }}
      </span>
    </h6>
  </div>

  <a class="nav-link ml-auto" routerLink="/create-bookings">Book Appointment</a>
</div>

<!-- Display All Bookings -->
<ng-container *ngFor="let profile of allUserBookedForAppointmentArray">
  <ng-container *ngIf="profile.role == 'User';">
    <div class="row mb-2">
      <div class="col-md-4 mx-auto">
        <div class="card border-darken-1">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="card-title lead">{{ profile.firstname }} {{ profile.lastname }}</h5>
              <span class="d-inline badge badge-dark text-dark">{{ profile.role }}</span>
            </div>
            <hr class="bg-dark">
            <p class="font-weight-normal text-dark">I have an appointment with <span
                class="font-weight-bold">{{ profile.doctorsName }}</span> for {{ profile.dentalType }}
              at {{ profile.appointmentDate }}.</p>

            <div class="btn-group float-right" role="group" aria-label="Actions">
              <a type="button" class="btn btn-sm btn-outline-secondary" (click)="onViewBookedAppointment(profile._id)"
                href="/booking-details/{{profile._id}}">
                View
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngFor="let profile of bookingResultsArray">
  <div class="row mb-2">
    <div class="col-md-4 mx-auto">
      <div class="card border-darken-1">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title lead">{{ profile.firstname }} {{ profile.lastname }}</h5>
            <span class="d-inline badge badge-dark text-dark">{{ profile.role }}</span>
          </div>
          <hr class="bg-dark">
          <p class="font-weight-normal text-dark">I have an appointment with <span
              class="font-weight-bold">{{ profile.doctorsName }}</span> for {{ profile.dentalType }}
            at {{ profile.appointmentDate }}.</p>

          <div class="btn-group float-right" role="group" aria-label="Actions">
            <a type="button" class="btn btn-sm btn-outline-secondary" (click)="onViewBookedAppointment(profile._id)"
              href="/booking-details/{{profile._id}}">
              View
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- /Display All Bookings -->


<router-outlet></router-outlet>
