<form [formGroup]="loginForm" [hidden]="success" (ngSubmit)="onLoginHandler()" class="form-signin mt-5">
  <div class="text-center mb-4">

    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="72" height="72"
      viewBox="0 0 24 24" stroke-width="1.5" stroke="#607D8B" fill="none" stroke-linecap="round"
      stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" />
      <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
      <path d="M20 12h-13l3 -3m0 6l-3 -3" />
    </svg>

    <h1 class="h3 mb-3 font-weight-light">Login</h1>

    {{ isValidated }}
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" name="email" formControlName="email" class="form-control"
      placeholder="Email address" required autofocus autocomplete="off">
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" name="password" formControlName="password" class="form-control"
      placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <button class="btn btn-sm btn-outline-dark btn-block" type="submit">Sign in</button>

</form>
