<div class="row align-items-center justify-content-center" *ngFor="let profile of profile_user_array">
  {{ profile | json }}
  <div class="card border-dark mb-3 mt-5" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user align-items-stretch"
          width="150" height="150" viewBox="0 0 24 24" stroke-width="1.5" stroke="#607D8B" fill="none"
          stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" />
          <circle cx="12" cy="7" r="4" />
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        </svg>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title lead text-uppercase">{{ profile.firstname }} {{ profile.lastname }}</h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Doctor's Name: <span class="font-weight-bold">{{ profile.doctorsName }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <!-- You can remove the Span tags if you don't like the Bold Text -->
              Appointment Type: <span class="font-weight-bold">{{ profile.dentalType }}</span>
              <span class="badge bg-light rounded-pill text-dark">{{ profile.appointmentDate }}</span>
            </li>
          </ul>

          <a type="button" class="btn btn-sm btn-outline-secondary float-right mb-2" routerLink="/view-bookings">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="20"
              height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#607D8B" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <path d="M9 13l-4 -4l4 -4m-4 4h11a4 4 0 0 1 0 8h-1" />
            </svg>
            Back
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
