<div class="row gutters-sm mt-5">
  <div class="col-md-4 d-none d-md-block">
    <div class="card">
      <div class="card-body">
        <nav class="nav flex-column nav-pills nav-gap-y-1">
          <a href="#profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-user mr-2">
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>Profile Information
          </a>
          <a href="#account" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-settings mr-2">
              <circle cx="12" cy="12" r="3"></circle>
              <path
                d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
              </path>
            </svg>Account Settings
          </a>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header border-bottom mb-3 d-flex d-md-none">
        <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
          <li class="nav-item">
            <a href="#profile" data-toggle="tab" class="nav-link has-icon active"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-user">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg></a>
          </li>
          <li class="nav-item">
            <a href="#account" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
                <circle cx="12" cy="12" r="3"></circle>
                <path
                  d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                </path>
              </svg></a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content">
        <div class="tab-pane active" id="profile" *ngFor="let profile of userDetailsArray">
          <h6>YOUR PROFILE INFORMATION</h6>
          <hr>

          <div *ngIf="profile.firstname == '' || profile.lastname == '' || profile.contacts == '' ||
            profile.gender == '' || isEditable == true else elseBlock">
            <!-- Display Form -->
            <form [formGroup]="userProfileForm" [hidden]="success" (ngSubmit)="onUpdateProfile()">
              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstname">Firstname *</label>
                    <input type="text" class="form-control" formControlName="firstname" aria-describedby="firstnameHelp"
                      autocomplete="off" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastname">Lastname *</label>
                    <input type="text" class="form-control" formControlName="lastname" aria-describedby="lastHelp"
                      autocomplete="off" />
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="contacts">Contacts *</label>
                    <input type="text" class="form-control" formControlName="contacts" aria-describedby="contactsHelp"
                      autocomplete="off" maxlength="10" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Gender *</label>
                    <input type="text" class="form-control" formControlName="gender" aria-describedby="genderHelp"
                      autocomplete="off" />
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="bio">Physical Address</label>
                    <textarea class="form-control autosize" formControlName="address"
                      style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 62px;"></textarea>
                  </div>
                </div>
              </div>

              <div class="form-group d-flex">
                <h6 class="h6 w-10 p-2 font-weight-light text-center text-danger"> {{ isValidated }} </h6>
                <div class="btn-group ml-auto" role="group" aria-label="Basic example">
                  <button type="submit" class="btn btn-sm btn-outline-dark">Update Profile</button>
                  <button type="submit" class="btn btn-sm btn-outline-info" (click)="onEditToggleButtonEdit()">View
                    Profile
                    Details</button>
                </div>
              </div>

            </form>
            <!-- /Display Form -->
          </div>

          <ng-template #elseBlock>
            <!-- Display User Results -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Full Name: {{ profile.firstname }} {{ profile.lastname }} </li>
              <li class="list-group-item"> Gender: {{ profile.gender }} </li>
              <li class="list-group-item">Contacts: {{ profile.contacts }} - {{ profile.email }}</li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Residential Address:
                {{ profile.address }}
                <button class="btn btn-sm btn-outline-dark" (click)="onEditToggleButtonProfile()">Edit</button>
              </li>
            </ul>
            <!-- /Display User Results -->
          </ng-template>

        </div>
        <div class="tab-pane" id="account">
          <h6>ACCOUNT SETTINGS</h6>
          <hr>
          <!-- Update Email Address -->
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Current Email *</label>
                  <input type="email" class="form-control" name="current_email" aria-describedby="currentemailHelp"
                    autocomplete="off" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">New Email *</label>
                  <input type="email" class="form-control" name="new_email" aria-describedby="newemailHelp"
                    autocomplete="off" />
                </div>
              </div>
            </div>

            <div class="form-group mt-2 d-flex">
              <h6 class="h6 w-10 p-2 text-muted font-weight-light text-center"> Validation goes here </h6>
              <button type="button" class="btn btn-sm btn-outline-dark ml-auto">Update Email</button>
            </div>
            <hr>
          </form>
          <!-- /Update Email Address -->

          <!-- Update Paasword -->
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Current Password *</label>
                  <input type="password" class="form-control" name="current_password"
                    aria-describedby="currentpasswordHelp" autocomplete="off" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">New Password *</label>
                  <input type="password" class="form-control" name="new_password" aria-describedby="newpasswordHelp"
                    autocomplete="off" />
                </div>
              </div>
            </div>

            <div class="form-group mt-2 d-flex">
              <h6 class="h6 w-10 p-2 text-muted font-weight-light text-center"> Validation goes here </h6>
              <button type="button" class="btn btn-sm btn-outline-dark ml-auto">Update Password</button>
            </div>
            <hr>
          </form>
          <!-- /Update Password -->

          <!-- Delete User Account -->
          <form>
            <label class="d-block text-danger">Delete Account</label>
            <div class="d-flex justify-content-between">
              <p class="text-muted font-size-sm">Once you delete your account, there is no going back. Please be
                certain.</p>
              <button type="button" class="btn btn-sm btn-outline-danger ml-auto">Delete Account</button>
            </div>
          </form>
          <!-- /Delete User Account -->
        </div>
      </div>
    </div>
  </div>
</div>
