<form [formGroup]="registerForm" [hidden]="success" (ngSubmit)="onRegisterHandler()" class="form-signin mt-5">
  <div class="text-center mb-4">

    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="72" height="72"
      viewBox="0 0 24 24" stroke-width="1.5" stroke="#607D8B" fill="none" stroke-linecap="round"
      stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" />
      <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
      <path d="M20 12h-13l3 -3m0 6l-3 -3" />
    </svg>

    <h1 class="h3 mb-3 font-weight-light">Register</h1>

    {{ isValidated }}
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" name="email" formControlName="email" class="form-control"
      placeholder="Email address" required autofocus autocomplete="off">
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" name="password" formControlName="password" class="form-control"
      placeholder="Password" required minlength="6" maxlength="15">
    <label for="inputPassword">Password</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputConfirmPassword" name="confirm_password" formControlName="confirm_password"
      class="form-control" placeholder="Confirm Password" required minlength="6" maxlength="15">
    <label for="inputConfirmPassword">Confirm Password</label>
  </div>

  <div class="form-group">
    <label class="small mb-1" for="inputSelectUserAccount">Please Select Your Account State. *</label>
    <select class="form-control" formControlName="selectUserAccount" name="selectUserAccount"
      id="inputSelectUserAccount" placeholder="Please Select Your Account State" (change)="selectUserAccountHandler()">
      <option *ngFor="let account of userAccountSelected">{{ account.label }}</option>
    </select>
  </div>

  <div class="form-label-group mt-3">
    <button class="btn btn-sm btn-outline-dark btn-block" type="submit">Sign Up</button>
  </div>

</form>
